body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

header{
background:#111;
padding:20px;
font-size:26px;
text-align:center;
}

.container{
padding:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
gap:25px;
margin-bottom:40px;
}

.card{
background:#1a1a1a;
border-radius:12px;
overflow:hidden;
cursor:pointer;
transition:0.25s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
display:block;
}

.title{
padding:12px;
font-size:15px;
}

.player{
display:flex;
justify-content:center;
}

iframe{
width:100%;
max-width:1000px;
height:560px;
border-radius:10px;
border:none;
}
